*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{    
    display: flex;  
    justify-content: center;
    background-color:#F7F2DE;
    padding: 0 0.625rem;
}
input {
       display: none;
}
.name_memes .xmark-solid{
    display: none;
}
.check:checked ~.toggle .img_memes{
    width: 100%;
    margin: 1rem auto;
    transition: .5s;
    
}
.check:checked ~ .toggle .plus{
    display: none;
}
.check:checked ~ .toggle .xmark-solid{
    display: block;
}
.img_memes{
    display: flex;
    width: 50%;
    max-width: 24rem;
    height: auto;
    /* margin: 1rem auto; */
   
}
.memes{
       width:100%;
    max-width: 24rem;
    
    border-top: 0.15rem solid blueviolet;
    }
.memes .img_memes {
    width: 0%;
    margin: 0;
}
h1{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Rubik Iso', cursive;
}
p{
    font-size: 1rem;
    font-weight: 700;
}
.name_memes{
    display: flex;
    justify-content: space-between;
    transition: .3s;
}
.name_memes .xmark-solid{
    display: none;
}
.plus {
    width: 1rem;
}
.xmark-solid{
    width: 0.8rem;
}
@media (min-width: 496px) and (max-width:820px) {
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1.25rem;
    }
    .img_memes{
        width: 50%;
        max-width: 40rem;
    }
    .memes{
        max-width: 40rem;
    }
}
 @media (min-width: 821px) {
    main{
        width: 100%;
        max-width:80rem;
        cursor: pointer;
    }
    main .plus{
        display: none;
    }
    main:hover .plus{
        display:block;
    }
    main:hover p{
        color: black;
    }
    .img_memes{
        width: 50%;
        max-width: 35rem;
    }
    .memes{ 
        width: 100%;
        max-width:80rem;
        cursor: pointer;
    }
    h1{
        font-size: 4rem;
    }
    p{
       font-size: 2.5rem;
        color: blue;
    }

    .plus {
        width: 1.5rem;
    }
    .xmark-solid{
        width: 1.3rem;
    }
    @media(hover: hover) {
    main{
            width: 100%;
            max-width:80rem;
            cursor: pointer;
        }
        main .plus{
            display: none;
        }
        main:hover .plus{
            display:block;
        }
        main:hover p{
            color: black;
        }
        label{
        cursor: pointer;
    }
    .check:checked ~ .toggle .text{
        color: black;
    }
    .memes .img_memes{
        width: 0%;
        transition: 0.5s;
    }
    .memes:hover .img_memes{
        width: 100%;
        margin: 1rem auto;
        transition: 0.5s;       
    }
    .memes:hover .plus{
        display: none;
    }
    .memes:hover .xmark-solid{
        display: block;
    }
}
}